{% extends 'layouts/back/base.html.twig' %}

{% block title %}Contacts - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrContacts }} {% if nbrContacts == 1 %}Contact{% else %}contacts{% endif %}</h3>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Names</th>
                        <th scope="col">Emails</th>
                        <th scope="col">Phones</th>
                        <th scope="col">Subjects</th>
                        <th scope="col">Messages</th>
                        <th scope="col">Created_At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr class="small">
                            <td>
                                {{ contact.fullName }}
                            </td>
                            <td>
                                <a href="mailto:{{ contact.email }}">
                                    {{ contact.email }}
                                </a>
                            </td>
                            <td>
                                <a href="tel:{{ contact.phone }}">
                                    {{ contact.phone }}
                                </a>
                            </td>
                            <td>
                                {{ contact.subject }}
                            </td>
                            <td>
                                {{ contact.message }}
                            </td>
                            <td>
                                {{ contact.createdAt|date('d/m/Y') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do contacts.setPageRange(2) %}
            {{ knp_pagination_render(contacts, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}