{% extends 'layouts/front/base.html.twig' %}

{% block title 'Login - MiniBlog-Symfony' %}

{% block body %}
    <div class="container">
            <div class="row mb-4">
                <div class="col-md-6 mx-auto">
                    <h3 class="text-center mt-5 mb-4 h1">Please login</h3>
                    <p class="text-center lead mb-4">Your administration area is waiting for you</p>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label class="form-label" for="inputUsername">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="inputPassword">Password</label>
                            
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="d-flex justify-content-between mb-4">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="_remember_me">
                                <label class="form-check-label text-light" for="_remember_me">Remember me</label>
                            </div>
                        </div>

                        <button class="btn btn-lg btn-warning" type="submit">
                            Sign in
                        </button>
                    </form>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
