<br/>
<br/>
<br/>

<!--Footer-->
<div class="container">
<footer class="py-1 my-3">
    <p class="text-center text-muted">&copy; Copyright {{ "now"|date("Y") }} &#8226; <a class="text-decoration-none text-warning" href="{{ path('app_home') }}">MiniBlog-Symfony</a>
    <br/>Designed and developed by <a href="https://www.youtube.com/channel/UCCjzV-zLwwskjHPPz2QNInQ" target="_blank">Code Ouvert</a> (Yassin El Kamal NGUESSU)</p>
</footer>
</div>
<!--End Footer-->
