{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-warning" formnovalidate>Submit</button>
{{ form_end(form) }}