{% extends 'layouts/back/base.html.twig' %}

{% block title 'Edit tags ' ~ tags.name ~ ' - Admin - MiniBlog-Symfony' %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">Edit tags {{ tags.name }}</h3>
        <div class="row mt-5 mb-4">
            <div class="col-md-10 mx-auto">
                {# Form Contact #}
                {{ include('admin/tags/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}