{% extends 'layouts/back/base.html.twig' %}

{% block title %}Tags - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrTags }} {% if nbrTags == 1 %}Tags{% else %}Tags{% endif %}</h3>

        <a class="btn btn-warning mb-4" href="{{ path('app_admin_tags_create') }}">Create new tags</a>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Nbrs of Articles</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tags in tags %}
                        <tr class="small">
                            <td>
                                {{ tags.id }}
                            </td>
                            <td>
                                {{ tags.name }}
                            </td>
                            <td>
                                {% set count = 0 %}
                                {% for article in tags.articles %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                {{ count }}
                            </td>
                            <td>
                                <a class="text-decoration-none me-5" href="{{ path('app_admin_tags_edit', {id: tags.id, slug: tags.slug}) }}" title="Edit tags">
                                    <i class="bi bi-pencil-square text-warning fs-5"></i>
                                </a>

                                <a class="text-decoration-none" href="{{ path('app_admin_tags_delete', {id: tags.id}) }}?csrf_token={{ csrf_token('tags_deletion_' ~ tags.id)}}" title="Delete tags" onclick="return confirm('Are you sure ?')">
                                    <i class="bi bi-trash text-danger fs-5"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do tags.setPageRange(2) %}
            {{ knp_pagination_render(tags, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
