<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #252627;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_admin') }}">MiniBlog-Symfony</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'articles' %}active{% endif %}" href="{{ path('app_admin') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'categories' %}active{% endif %}" href="{{ path('app_admin_categories') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'tags' %}active{% endif %}" href="{{ path('app_admin_tags') }}">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'comments' %}active{% endif %}" href="{{ path('app_admin_comments') }}">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'users' %}active{% endif %}" href="{{ path('app_admin_users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'contacts' %}active{% endif %}" href="{{ path('app_admin_contacts') }}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}" target="_blank">Back to home</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" onclick="event.preventDefault; document.getElementById('js-logout-form').submit();">
                        Logout
                    </a>
                    <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>