<!DOCTYPE html>
<html>
    <head>
        {# meta #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Yassin El Kamal NGUESSU">

        {# title #}
        <title>{% block title %}MiniBlog-Symfony{% endblock %}</title>

        {# icon #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Bootstrap CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        {# Bootstrap icons #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        {# CDN select2 #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Include Quill stylesheet #}
        <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
            
        <style>
            a {
                text-decoration:none;
                color: #FFC201;
            }

            a:hover {
                color: #FFCA2C;
            }

            img{
                /*margin-top: 10px;*/
                border-radius: 3px;
            }
        </style>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>

    <body style="background-color: #292a2d; color:#a9a9b3">

        {{ include('layouts/back/_header.html.twig') }}

        {% block body %}

        {% endblock %}

        {{ include('layouts/_footer.html.twig') }}
        
        {# CDN jquery #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
        {# CDN popper js #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

        {# CDN bootstrap js #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

        {# CDN select2 #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $("#article_form_tags").select2();
        </script>

        {# Chargement de la librairie Quill #}
        <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
        <script src="../../../assets/quill/quill-textarea.js"></script>
        {# Initialize Quill editor #}
        <script>
            (function() {
                quilljs_textarea('.quilljs-textarea', {
                    modules: { toolbar: [
                        [{ 'header': [1, 2, 3, 4, 5, false] }],
                        ['bold', 'italic', 'underline'],        // toggled buttons
                        [{ 'align': [] }],
                        [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                        [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                        ['image', 'video', 'code-block']
          
                    ]},
                    theme: 'snow',
                });
            })();
        </script>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
