{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button type="submit" class="btn btn-warning" formnovalidate>Submit</button>
{{ form_end(form) }}