{% extends 'layouts/back/base.html.twig' %}

{% block title %}Create new user - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">Create new user</h3>
        <div class="row mt-5 mb-4">
            <div class="col-md-10 mx-auto">
                {# Form Contact #}
                {{ include('admin/users/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}