{% extends 'layouts/back/base.html.twig' %}

{% block title %}Users - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrUsers }} {% if nbrUsers == 1 %}User{% else %}Users{% endif %}</h3>

        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning mb-4" href="{{ path('app_admin_users_create') }}">Create new user</a>
        {% endif %}

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Users name</th>
                        <th scope="col">Nbrs of Articles</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Created_At</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th scope="col">Actions</th>
                        {% endif %}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="small">
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {% set count = 0 %}
                                {% for article in user.articles %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                {{ count }}
                            </td>
                            <td>
                                {% if user.roles[0] == "ROLE_ADMIN" %}
                                    Super Admin
                                {% elseif user.roles[0] == "ROLE_USER" %}
                                    Admin
                                {% endif %}
                            </td>
                            <td>
                                {{ user.createdAt|date('d/m/Y') }}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td>
                                    <a class="text-decoration-none me-5" href="{{ path('app_admin_users_edit', {id: user.id, slug: user.slug}) }}" title="Edit user">
                                        <i class="bi bi-pencil-square text-warning fs-5"></i>
                                    </a>

                                    <a class="text-decoration-none" href="{{ path('app_admin_users_delete', {id: user.id}) }}?csrf_token={{ csrf_token('user_deletion_' ~ user.id)}}" title="Delete user" onclick="return confirm('Are you sure ?')">
                                        <i class="bi bi-trash text-danger fs-5"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do users.setPageRange(2) %}
            {{ knp_pagination_render(users, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}