<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #252627;">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home') }}">MiniBlog-Symfony</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('app_home') }}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'about' %}active{% endif %}" href="{{ path('app_about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_admin')}}">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br/>
<br/>