<!DOCTYPE html>
<html>
    <head>
        {# meta #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Yassin El Kamal NGUESSU">

        {# title #}
        <title>{% block title %}MiniBlog-Symfony{% endblock %}</title>

        {# icon #}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Bootstrap CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        {# Bootstrap icons #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <style>
            a {
                text-decoration:none;
                color: #FFC201;
            }

            a:hover {
                    color: #FFCA2C;
            }

            pre {
                color: #eee;
                background-color: #1B2426;
                padding: 10px 15px 10px 15px;
            }
            .responsive-image img {
                width: 100%;
                height: auto;
            }
            
            img{
                /*margin-top: 10px;*/
                border-radius: 3px;
            }
        </style>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>

    <body style="background-color: #292a2d; color:#a9a9b3">

        {{ include('layouts/front/_header.html.twig') }}

        {% block body %}*

        {% endblock %}

        {{ include('layouts/_footer.html.twig') }}

        {# CDN popper js #}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

        {# CDN bootstrap js #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
    
</html>
