{% extends 'layouts/back/base.html.twig' %}

{% block title %}Categories - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrCategories }} {% if nbrCategories == 1 %}Category{% else %}Categories{% endif %}</h3>

        <a class="btn btn-warning mb-4" href="{{ path('app_admin_categories_create') }}">Create new category</a>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Nbrs of Articles</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr class="small">
                            <td>
                                {{ category.id }}
                            </td>
                            <td>
                                {{ category.name }}
                            </td>
                            <td>
                                {% set count = 0 %}
                                {% for article in category.articles %}
                                    {% set count = count + 1 %}
                                {% endfor %}
                                {{ count }}
                            </td>
                            <td>
                                <a class="text-decoration-none me-5" href="{{ path('app_admin_categories_edit', {id: category.id, slug: category.slug}) }}" title="Edit category">
                                    <i class="bi bi-pencil-square text-warning fs-5"></i>
                                </a>

                                <a class="text-decoration-none" href="{{ path('app_admin_categories_delete', {id: category.id}) }}?csrf_token={{ csrf_token('category_deletion_' ~ category.id)}}" title="Delete category" onclick="return confirm('Are you sure ?')">
                                    <i class="bi bi-trash text-danger fs-5"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do categories.setPageRange(2) %}
            {{ knp_pagination_render(categories, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
