{{ form_start(formComment) }}
    <div class="mb-3">
        {{ form_row(formComment.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(formComment.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(formComment.content, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(formComment.rgpd) }}
    </div>

    <button type="submit" class="btn btn-warning" formnovalidate>Submit</button>
{{ form_end(formComment) }}