<div class="col-md-8">
    <h1 class="text-center text-muted mb-4">{{ nbrArticles }} {% if nbrArticles == 1 %}Article{% else %}Articles{% endif %}</h1>
    {% if articles|length > 0 %}
        {% for row in articles|batch(2) %}
            <div class="row row-cols-1 row-cols-md-2">
                {% for article in row %}
                    <div class="col mb-4">
                        <div class="card border-0 rounded shadow-sm" style="background-color: #292a2d;">

                            <div class="text-center">
                                <img style="width: 100%;" src="{{ (article.imageName ? vich_uploader_asset(article) : asset('assets/images/default_image.jpg')) | imagine_filter('squared_thumbnail_article_grid') }}" alt="{{ article.title }}" class="img-thumbnail rounded w-100">
                            </div>
                                    
                            <div class="card-body">
                                <h5 class="card-title h3 fw-bold">{{ article.title }}</h5>
                                <p class="align-top small">
                                    <span class="fw-bold">
                                        {{ article.user.username }}
                                    </span> 
                                    - 
                                    <span class="fw-bold">
                                        <a href="{{ path('app_articles_categories', {id: article.category.id, slug: article.category.slug}) }}">
                                            {{ article.category.name }}
                                        </a>
                                    </span> 
                                    -
                                    <span>
                                        <time datetime="{{ article.createdAt|date('Y-m-d H:i:s') }}">{{ article.createdAt|ago(locale='en') }}</time>
                                    </span>
                                    -
                                    <span>
                                        {% set count = 0 %}
                                        {% for comment in article.comments %}
                                            {% if comment.isVerified == true %}
                                                {% set count = count + 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {{ count }}
                                        {% if count == 1 %}Comment{% else %}Comments{% endif %}
                                    </span>
                                </p>
                                <a href="{{ path('app_articles_show', {id: article.id, slug: article.slug}) }}" class="btn btn-warning stretched-link">Read more</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-center mb-5">
            {% do articles.setPageRange(2) %}
            {{ knp_pagination_render(articles, '_pagination.html.twig') }}
        </div>
    {% else %}
        <p class="h1 text-center mt-5">Not articles yet!</p>
    {% endif %}
</div>