<div class="col col-md-4">
    <div class="position-sticky" style="top: 1rem;">
        <div class="card mb-1 rounded-3 shadow-sm border-0" style="background-color: #292a2d;">
            <div class="card-header py-1 text-white" style="background-color: #252627;">
                <h4 class="my-0 fw-normal">About the Author</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img src="../assets/images/logo.png" class="rounded-circle" alt="Code Ouvert" width="140" height="140">
                </div>
                <p class="lead" style="text-align: justify">
                    I am <span class="fw-bold">Yassin El Kamal NGUESSU</span> . I live in Yaounde in Cameroon. I am a freelance web developer and trainer, specialized in Symfony. PHP developer, Symfony specialist, I have been hacking web pages professionally since 2019, and for fun for much longer.
                </p>
            </div>
        </div>

        <div class="card mb-1 rounded-3 shadow-sm border-0" style="background-color: #292a2d;">
            <div class="card-header py-1 text-white" style="background-color: #252627;">
                <h4 class="my-0 fw-normal">Follow me</h4>
            </div>
            <div class="card-body">
                <ul class="d-flex justify-content-center list-unstyled">
                    <div class="row">
                        <div class="col">
                            <li><a href="#"><i class="bi bi-twitter" style="font-size:48px;color:#00acee;"></i></a></li>
                        </div>
                        <div class="col">
                            <li><a href="#"><i class="bi bi-instagram" style="font-size:48px;color:#8a3ab9;"></i></a></li>
                        </div>
                        <div class="col">
                            <li><a href="#"><i class="bi bi-facebook" style="font-size:48px;color:#3b5998;"></i></a></li>
                        </div>
                                    <div class="col">
                            <li><a href="#"><i class="bi bi-youtube" style="font-size:48px;color:#c4302b;"></i></a></li>
                        </div>
                    </div> 
                </ul>
            </div>
        </div>

        <div class="card mb-1 rounded-3 shadow-sm border-0" style="background-color: #292a2d;">
            <div class="card-header py-1 text-white" style="background-color: #252627;">
                <h4 class="my-0 fw-normal">Newsletter</h4>
            </div>
            <div class="card-body">
                <p class="lead">Lorem ipsum dolor sit amet... don't miss anything !</p>
                <small class="align-top">Receive the PHP-Symfony newsletter so you don't miss a thing.</small>
                <form class="d-flex">
                    <input class="form-control me-2" type="email" placeholder="adresse@adresse.com" aria-label="email">
                    <button class="btn btn-outline-warning" type="submit">Register</button>
                </form>
            </div>
        </div>
                        
        <div class="card mb-1 rounded-3 shadow-sm border-0" style="background-color: #292a2d;">
            <div class="card-header py-1 text-white" style="background-color: #252627;">
                <h4 class="my-0 fw-normal">Categories</h4>
            </div>
            <div class="card-body">
                {% for category in categories %}
                    <a class="lead text-decoration-none d-flex justify-content-between align-items-center mb-0 text-warning" href="{{ path('app_articles_categories', {id: category.id, slug: category.slug}) }}">
                        {{ category.name }}
                        <span class="badge bg-warning rounded-pill">
                            {% set count = 0 %}
                            {% for article in category.articles %}
                                {% set count = count + 1 %}
                            {% endfor %}
                            {{ count }}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="card mb-1 rounded-3 shadow-sm border-0" style="background-color: #292a2d;">
            <div class="card-header py-1 text-white" style="background-color: #252627;">
                <h4 class="my-0 fw-normal">Tags</h4>
            </div>
            <div class="card-body">
                {% for tag in tags %}
                    <a href="{{ path('app_articles_tags', {id: tag.id, slug: tag.slug}) }}"><span class="badge bg-dark">{{ tag.name }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
