{% extends 'layouts/front/base.html.twig' %}

{% block title 'Articles for ' ~ category.name ~ ' - MiniBlog-Symfony' %}

{% block body %}
    <div class="container">
        <div class="row">
            {# Left column grid #}
            {{ include('articles/_left_column_grid.html.twig') }}

            {# Right column #}
            {{ include('articles/_right_column.html.twig') }}
        </div>
    </div>
{% endblock %}
