{% extends 'layouts/front/base.html.twig' %}

{% block title %}Articles - MiniBlog-Symfony{% endblock %}

{% block body %}
	{# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <div class="row">
            {# Left column grid #}
            {{ include('articles/_left_column_grid.html.twig') }}

            {# Right column #}
            {{ include('articles/_right_column.html.twig') }}
        </div>
    </div>
{% endblock %}
