{% extends 'layouts/front/base.html.twig' %}

{% block title article.title ~ ' - MiniBlog-Symfony' %}

{% block body %}
	{# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

	<div class="container">
	    <div class="row">
	    	{# Left column #}
	        <div class="col-md-8">
	        	{% if article.isVerified == false %}
	        		<p class="text-center text-danger fs-3">Is not public</p>
	        	{% endif %}
		        <h2 class="text-center mb-4 h1">{{ article.title }}</h2>
			    <p class="text-center mb-4">
			        <small class="align-top">
			        	Category :
			        	<span>
			        		<a href="{{ path('app_articles_categories', {id: article.category.id, slug: article.category.slug}) }}">
			        			{{ article.category.name }}
			        		</a>
			        	</span>
			        	- Posted on
			        	<time datetime="{{ article.createdAt|date('Y-m-d H:i:s') }}">
			        		{{ article.createdAt|ago(locale='en') }}
			        	</time>
			        	, by 
			        	<span class="fw-bold">
			        		{{ article.user.username }}
			        	</span>
			        	. Last modification {{ article.updatedAt|date('d/m/Y') }}
			        </small>
			    </p>

			    {% if article.isVerified == true or app.user %}

			    	<div class="responsive-image">
			    		{{ article.content|raw }}
			    	</div>

					<div class="mt-3">
						<span class="me-1 fw-bold fs-5">TAGS :</span>
						{% for tag in article.tags %}
							<a href="{{ path('app_articles_tags', {id: tag.id, slug: tag.slug}) }}"><span class="me-1 badge bg-dark">{{ tag.name }}</span></a>
						{% endfor %}
					</div>

			        <br/>
			        <br/>

			        <p class="fs-2">
				        {{ nbrComments }} {% if nbrComments == 1 %}Comment{% else %}Comments{% endif %}
			        </p>
			        <hr/>
			        <div class="mt-3">
			        	{% for comment in comments %}
			        		<div class="pt-3">
			        			<div class="d-flex text-muted pt-3">
			        				<img src="{{ comment.gravatarUrl }}" alt="{{ comment.name }}'s Avatar" class="shadow rounded-circle me-2" width="32" height="32">

		      						<div class="mb-0 small lh-sm w-100">
		        						<div class="d-flex justify-content-between">
		          							<strong class="text-gray-dark">{{ comment.name }}</strong> <time datetime="{{ comment.createdAt|date('Y-m-d H:i:s') }}">{{ comment.createdAt|ago(locale='en') }}</time>
		        						</div>
		        						<span class="d-block">{{ comment.content }}</span>
		      						</div>
		    					</div>
			    			</div>
			            {% endfor %}
			        </div>

			        <div class="mt-5">
			        	<h3>Leave a comment</h3>
			         	{# Form Comment #}
	                	{{ include('articles/_form_comment.html.twig') }}
			      	</div> 
	        	{% else %}
	        		<p class="text-center fs-3">Article in progress</p>
	        	{% endif %}
	    	</div>

	        {# Right column #}
            {{ include('articles/_right_column.html.twig') }}
	    </div>
	</div>
{% endblock %}