{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.title) }}
    </div>
    
    <div class="row mb-3">
        <div class="my-image col-md-4">
            {{ form_row(form.imageFile) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.category) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.tags) }}
        </div>
    </div>

    <div class="mb-3">
        <div class="card">
            <div class="card-body">
                {{ form_row(form.content, {'attr': {'class': 'quilljs-textarea'}}) }}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-warning" formnovalidate>Submit</button>
{{ form_end(form) }}