{% extends 'layouts/back/base.html.twig' %}

{% block title %}Articles - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrArticles }} {% if nbrArticles == 1 %}Article{% else %}Articles{% endif %}</h3>

        <a class="btn btn-warning mb-4" href="{{ path('app_admin_articles_create') }}">Create new article</a>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Titles</th>
                        <th scope="col">Authors</th>
                        <th scope="col">Categories</th>
                        <th scope="col">Tags</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Preview</th>
                        <th scope="col">Is Public</th>
                        <th scope="col">Created_at</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr class="small">
                        <td>
                            {{ article.title }}
                        </td>
                        <td>
                            {{ article.user.username }}
                        </td>
                        <td>
                            {{ article.category.name }}
                        </td>
                        <td>
                            {% set count = 0 %}
                            {% for tags in article.tags %}
                                {% set count = count + 1 %}
                            {% endfor %}
                            {{ count }}
                        </td>
                        <td>
                            {% set count = 0 %}
                            {% for tags in article.comments %}
                                {% set count = count + 1 %}
                            {% endfor %}
                            {{ count }}
                        </td>
                        <td>
                            <a href="{{ path('app_articles_show', {id: article.id, slug: article.slug}) }}" title="Preview" target="_blank">
                                <i class="bi bi-eye fs-4"></i>
                            </a>
                        </td>
                        <td>
                            <a class="text-decoration-none" href="{{ path('app_admin_articles_is_verified', {id: article.id}) }}?csrf_token={{ csrf_token('article_is_verified_' ~ article.id)}}">
                                {% if article.isVerified == true %}
                                    <i class="bi bi-toggle-on text-success fs-4"></i>
                                {% else %}
                                    <i class="bi bi-toggle-off text-danger fs-4"></i>
                                {% endif %}
                            </a>
                        </td>
                        <td>
                            {{ article.createdAt|date('d/m/Y') }}
                        </td>
                        <td>
                            <a class="text-decoration-none me-5" href="{{ path('app_admin_articles_edit', {id: article.id, slug: article.slug}) }}" title="Edit article">
                                <i class="bi bi-pencil-square text-warning fs-5"></i>
                            </a>

                            <a class="text-decoration-none" href="{{ path('app_admin_articles_delete', {id: article.id}) }}?csrf_token={{ csrf_token('article_deletion_' ~ article.id)}}" title="Delete article" onclick="return confirm('Are you sure ?')">
                                <i class="bi bi-trash text-danger fs-5"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do articles.setPageRange(2) %}
            {{ knp_pagination_render(articles, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}
