{{ form_start(contactForm) }}
    <div class="mb-3">
        {{ form_row(contactForm.fullName, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contactForm.email, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contactForm.phone, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contactForm.subject, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contactForm.message, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
        {{ form_row(contactForm.rgpd) }}
    </div>

    <button type="submit" class="btn btn-warning" formnovalidate>Submit</button>
{{ form_end(contactForm) }}