{% extends 'layouts/front/base.html.twig' %}

{% block title %}Contact - MiniBlog-Symfony{% endblock %}

{% block body %}
	{# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

	<div class="container">
	    <h3 class="text-center mb-4 h1">Contact me</h3>
	    <h4 class="mb-4 h3">My contact details</h4>
	    <ul>
	        <li class="lead">Phone number : <a class="text-decoration-none text-warning" href="#">+237 681 07 60 39</a></li>
	        <li class="lead">E-mail address: <a a class="text-decoration-none text-warning" href="#">leyassino@gmail.com</a></li>
	    </ul>

	    <h4 class="mb-4 h3">You need...</h4>

	    <h5 class="mb-4 h4">A developer for a web application project?</h5>

	    <p class="lead mb-4">Are you looking for a Freelance web developer to materialize an idea, an application project? I can accompany you on a project from A to Z, from design to production. I work with the Symfony framework (PHP). <a class="text-warning" href="#">Submit a development request</a></p>

	    <h5 class="mb-4 h4">Tailor-made training?</h5>

	    <p class="lead mb-4">Are you looking for training for your development teams? I can produce tailor-made educational content for you (Texts, Tutorials and videos) on many themes: Docker, CI/CD, Development environment, Symfony, Project management... <a class="text-warning" href="#">Make a training request</a></p>

	    <h5 class="mb-4 h4">Partnership for the YouTube channel?</h5>

	    <p class="lead mb-4">Are you looking for visibility on YouTube (and Twitter) with an audience of French-speaking developers? Do not hesitate to contact me ! <a class="text-warning" href="#">Propose a partnership</a></p>
	</div>
	    
	<div class="container">
	    <div class="row mt-5 mb-4">
	        <div class="col-md-8 mx-auto">
	            {# Form Contact #}
                {{ include('contact/_form_contact.html.twig') }}
	        </div>
	    </div>
	</div>

{% endblock %}
