{% extends 'layouts/back/base.html.twig' %}

{% block title %}Comments - Admin - MiniBlog-Symfony{% endblock %}

{% block body %}
    {# Flash Messages #}
    {{ include('_flash_messages.html.twig') }}

    <div class="container">
        <h3 class="text-center mb-4 h1">{{ nbrComments }} {% if nbrComments == 1 %}Comment{% else %}Comments{% endif %}</h3>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Full names</th>
                        <th scope="col">Emails</th>
                        <th scope="col">Articles</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Is_Verified</th>
                        <th scope="col">Created_At</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr class="small">
                            <td>
                                {{ comment.name }}
                            </td>
                            <td>
                                <a class="text-white" href="mailto:{{ comment.email }}">{{ comment.email }}</a>
                            </td>
                             <td>
                                <a href="{{ path('app_articles_show', {id: comment.article.id, slug: comment.article.slug}) }}">
                                    {{ comment.article.title }}
                                </a>
                            </td>
                            <td>
                                {{ comment.content|nl2br }}
                            </td>
                            <td>
                                <a class="text-decoration-none" href="{{ path('app_admin_comments_is_verified', {id: comment.id}) }}?csrf_token={{ csrf_token('comment_is_verified_' ~ comment.id)}}">
                                    {% if comment.isVerified == true %}
                                        <i class="bi bi-toggle-on text-success fs-4"></i>
                                    {% else %}
                                        <i class="bi bi-toggle-off text-danger fs-4"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td>
                                {{ comment.createdAt|date('d/m/Y') }}
                            </td>
                            <td>
                                <a class="text-decoration-none text-danger" href="{{ path('app_admin_comments_delete', {id: comment.id}) }}?csrf_token={{ csrf_token('comment_deletion_' ~ comment.id)}}" title="Delete comment" onclick="return confirm('Are you sure ?')">
                                    <i class="bi bi-trash text-danger fs-5"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center mb-5">
            {% do comments.setPageRange(2) %}
            {{ knp_pagination_render(comments, '_pagination.html.twig') }}
        </div>
    </div>
{% endblock %}